<nav>
  <a href="/">Home</a>
  <form method="get" action="/search" class="search-form">
    <input name="q" type="search" placeholder="search" value="" autofocus/>
    <input type="submit" style="display: none" />
  </form>
  <a href="/admin">Admin</a>
</nav>
